body {
    font-family: Arial, Helvetica, sans-serif
}


/* Table styling */

td,
th {
    padding: 0.5em;
    transition: 0.1s ease;
}

th {
    background-color: #E19A94;
}

thead th:hover {
    background-color: #CA5045;
    /* Header row works as buttons, so text selection cursor was annoying. https://stackoverflow.com/q/826782 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

tr:nth-child(even) {
    background-color: #F7E5E3;
}

td:first-child,
th:first-child {
    text-align: left;
    min-width: 100px;
}

td:last-child,
th:last-child {
    text-align: right;
}