/* Body centering from https://stackoverflow.com/q/6464592 */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
    text-align: center;
}


/* Table styling */

table {
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    padding: 0.5em;
}

th {
    background-color: #E19A94;
}

thead th:hover {
    background-color: #CA5045;
    cursor: pointer;
    /* Header row works as buttons, so text selection was annoying. https://stackoverflow.com/q/826782 */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

tr:nth-child(even) {
    background-color: #F7E5E3;
}

td:first-child,
th:first-child {
    text-align: left;
    min-width: 100px;
}

td:last-child,
th:last-child {
    text-align: right;
}


/* Seach box styling */

input {
    padding: 0.5em;
    margin: 0.5em;
}

input:focus {
    outline: none;
    background-color: #f7e5e370;
}


/* Callout */

.callout {
    color: darkgray;
}